{% extends 'base.html.twig' %}

{% block title %}La Billetterie{% endblock %}

{% block body %}
    <body class="text-center">
    <div class="container">
        <div class="card">
            <div class="card-header">
                4eme étape - Récap
            </div>
            <div class="card-block">
                <p>Voici la référence de votre commande REF, vous allez prochainement recevoir un email contenant les informations liés à votre commande, à bientôt !</p>
            </div>
        </div>
    </div>
    </body>
{% endblock %}