{% extends 'base.html.twig' %}

{% block title %}La Billetterie{% endblock %}

{% block body %}
    <body class="text-center">
        <div class="container">
            <div class="card text-white border-success">
                <div class="card-header bg-success">Commande validée</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Félicitations !</h5>
                    <p class="card-text">Vous allez prochainement recevoir un email contenant les informations liés à votre commande, à bientôt !</p>
                </div>
                <div class="mb-3">
                    <img src="{{ asset('icon-valid.png') }}" class="img-fluid" alt="Responsive image">
                </div>
            </div>
    </body>
{% endblock %}