{% extends 'base.html.twig' %}

{% block title %}La Billetterie{% endblock %}

{% block body %}

    <body class="text-center">
        {{ form_start(form) }}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    2eme étape
                </div>
                <div class="card-block">

                    <div class="form-group">
                        {{ form_row(form.tickets) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Continuer</button>

                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </body>

{% endblock %}

