{% extends 'base.html.twig' %}

{% block body %}
	{#Header#}
	<body class="text-center">

		<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
	    	<header class="masthead mb-auto">
		        <div class="inner">
		          <h3 class="masthead-brand">Home</h3>
		          <nav class="nav nav-masthead justify-content-center">
		            <a class="nav-link active" href="#">Home</a>
		            <a class="nav-link" href="/billeterie">Billeterie en ligne</a>
		            <a class="nav-link" href="/mentions">Mentions légales</a>
		            <a class="nav-link" href="/contact">Contact</a>
		          </nav>
		        </div>
	    	</header>
			{#CookieAlert#}
		    <div class="alert alert-dismissible text-center cookiealert" role="alert">
				<div class="cookiealert-container">
				    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="/mentions" target="_blank">Learn more</a>
				    <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
				        I agree
				    </button>
				</div>
			</div>
			{#Footer#}
		    <footer class="mastfoot mt-auto">
		    	<div class="inner">
		        	<p class="copyright text-muted">Copyright &copy; Site fictif pour Openclassrooms, par Emmanuel Auguier</p>
		        </div>
		    </footer>
	    </div>
	</body>
{% endblock %}