{% extends 'base.html.twig' %}

{% block body %}
	{# Page Header #}
    <header class="home-header" style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Home</h1>
                        <hr class="small">
                        <span class="subheading">Emmanuel Auguier pour Openclassrooms</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {# Footer #}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="/billeterie">Billeterie en ligne</a>
                        </li>
                        <li>
                            <a href="/mentions">Mentions légales</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Site fictif pour apprentissage</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}