{% extends 'base.html.twig' %}

{% block body %}
    
    <body class="text-center">

            {#BodyContainer#}
            <div class="container">
                        <div class="card text-white bg-info mb-3">
                          <div class="card-header">1 - Objet</div>
                          <div class="card-body">
                            <p class="card-text">
                                Les présentes conditions générales de vente ont pour objet de définir les dispositions contractuelles entre l'Etablissement Public du fictif Musée du Louvre,</br>
                                Etablissement public à caractère administratif regroupant le fictif musée national du Louvre et le fictif musée national Eugène Delacroix, conformément aux dispositions du décret n° xx-xxx du 01/01/2018 modifié portant création de l'Etablissement Public du fictif Musée du Louvre.</br>
                                Siret n° xxx xxx xxx xxx xx - APE n° APE xxxxx.</br>
                                Domicilié fictif Musée du Louvre - 75058 Paris Cedex 01 – France.</br>
                                Contrat commerçant : xxxxxx BILLETTERIE INTERNET</br>
                                et toute personne physique ou morale (ci-après dénommée l'acheteur) achetant des billets individuels sur le site de vente en ligne de billets « www.labilleterie.fr ». 
                            </p>
                            <p class="card-text">
                                L’acheteur reconnaît avoir pris connaissance des présentes conditions générales de vente préalablement à la validation de sa commande. Le fait de passer commande vaut acceptation par l’acheteur des présentes conditions générales de vente. 
                            </p>
                            <p class="card-text">
                                L’EPML se réserve la possibilité d'adapter ou de modifier à tout moment les présentes conditions générales de vente. En cas de modification, les conditions applicables à un achat sont celles en vigueur au jour de la commande. 
                            </p>
                          </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                          <div class="card-header">2 - Champ d’application des présentes conditions générales de vente</div>
                          <div class="card-body">
                            <p class="card-text">
                                Sont proposés sur le site « www.labilleterie.fr » de vente en ligne des billets pour les prestations suivantes : </br>
                                Fictif Musée du Louvre, permettant l’accès aux collections permanentes et expositions temporaires du musée du Louvre, donnant également accès aux collections et expositions temporaires du fictif musée Eugène Delacroix et à l'antenne du musée du quai Branly au Louvre.
                                Audioguide, correspondant à la location de l’audioguide du musée du Louvre et permettant de le retirer aux comptoirs de distribution situés aux entrées des collections. Un document d’identité en cours de validité sera demandé en dépôt lors du retrait de l’audioguide.
                            </p>
                            <p class="card-text">
                                 Le site Internet informe l’acheteur de la disponibilité des prestations au moment de la passation de la commande.
                            </p>
                            <p class="card-text">
                                Le nombre de billets vendus en ligne par commande et par personne est limité comme suit : 
                            </p>
                          </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                          <div class="card-header">3 - Présentation des billets</div>
                          <div class="card-body">
                            <p class="card-text">
                                       Le billet est imprimable à la validation du règlement. Il est accessible sous format PDF et peut être utilisé depuis le courriel de confirmation. 
                                    </p>
                                    <p class="card-text">
                                        Le billet peut être imprimé par l’acheteur préalablement à la visite, sans modification de la taille d’impression, pleine page, sur du papier A4 blanc, vierge recto et verso. Les billets partiellement ou mal imprimés, endommagés ou illisibles ne sont pas valides.
                                        En cas de billet oublié, abimé, mal imprimé, ou comportant une erreur de nom du porteur, la Billeterie se réserve la possibilité de le réimprimer afin de faciliter les démarches du visiteur. 
                                    </p>
                                    <p class="card-text">
                                        Le billet délivré par la Billetterie comporte notamment:</br>

                                        - le nom du Musée</br>
                                        - le nom de l’acheteur</br>
                                        - la dénomination de la prestation vendue</br>
                                        - les dates et horaires de la prestation</br>
                                        - le type de tarif appliqué</br>
                                        - le prix de vente de la prestation, en euros</br>
                                        - le numéro du billet attribué par le système de billetterie</br>
                                        - la date d’achat du billet</br>
                                        - les mentions : Billet valable pour 1 visiteur individuel, non valable pour une visite en groupe ; Ne peut être revendu ; Toute sortie est définitive.
                                    </p>
                          </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                          <div class="card-header">4 - Conditions d’utilisation</div>
                            <div class="card-body">
                                <p class="card-text">
                                       Les billets achetés en ligne sont horodatés et valables exclusivement pour la prestation, à la date et à compter de l’heure mentionnées. 
                                    </p>
                                    <p class="card-text">
                                        Les billets achetés en ligne permettent un accès au musée dans la demi-heure de l’horaire indiqué. En cas de retard au-delà de ce créneau horaire d’accès, les porteurs de billets print@home sont soumis aux mêmes conditions d’accès et d’attente que les autres visiteurs. 
                                    </p>
                                    <p class="card-text">
                                        Chaque billet acheté en ligne est personnel, nominatif et incessible. Il comporte le nom de son porteur, renseigné par l’acheteur au moment de l’achat en ligne. Un document d’identité en cours de validité avec photographie peut être demandé. En cas de non présentation d’un tel document, l’accès à la prestation peut être refusé.
                                    </p>
                                    <p class="card-text">
                                       L’accès à la prestation est soumis au contrôle de la validité du billet. Il est contrôlé et enregistré par les agents de contrôle aux entrées des collections. 
                                    </p>
                                    <p class="card-text">
                                        La première personne à présenter le billet est présumée en être le porteur légitime. Il sera refusé l’accès à la prestation à toute autre personne se présentant ultérieurement avec une copie du billet. 
                                    </p>
                                    <p class="card-text">
                                       Le visiteur doit conserver son billet par devers lui durant toute la durée de la prestation.
                                    </p>
                                    <p class="card-text">
                                       Toute sortie du hall ou d’une aile du musée est définitive. Un même billet d’entrée donne un accès unique aux collections permanentes et aux expositions temporaires. 
                                    </p>
                                    <p class="card-text">
                                       Toute personne qui reproduirait illégalement un billet et/ou utiliserait un billet contrefait s’exposerait à des poursuites pénales.
                                    </p>
                                    <p class="card-text">
                                        La Billetterie décline toute responsabilité en cas de perte ou de vol ou d’utilisation de copies à l’insu de l’acheteur, y compris dans l’enceinte du musée. 
                                    </p>
                                    <p class="card-text">
                                       En cas de non-respect d’une des conditions énoncées au présent article, la Billetterie se réserve le droit de refuser l’accès à la prestation concernée. 
                                    </p>
                                    <p class="card-text">
                                       Afin d’assurer la sécurité des visiteurs, le musée applique les mesures préventives décidées par le gouvernement pour les administrations publiques. Toutes les personnes doivent se prêter aux contrôles de sécurité. 
                                    </p>
                                    <p class="card-text">
                                       Les valises et sacs de grande contenance sont interdits. Seuls les bagages n’excédant pas les tailles maximales de 55cm x 35cm x 20cm sont autorisés dans les espaces d’accueil. Ils ne sont pas admis dans les collections et doivent impérativement être déposés aux vestiaires après avoir été contrôlés. 
                                    </p>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">5 - Modalités de commande</div>
                            <div class="card-body">
                                <p class="card-text">
                                    L’acheteur effectue son achat de billet en ligne comme suit : 
                                </p>
                                    <p class="card-text">
                                        Se rendre sur la page : www.labilletterie.fr</br>

                                        Indiqué sa date de naissance.</br>
                                        Choisir son ou ses billets.</br>
                                        Sélectionner la date de visite et l’horaire souhaités à l’aide du calendrier affichant les créneaux disponibles. Lorsque le créneau n’est plus disponible, il est affiché comme complet.</br>
                                        Choisir la quantité de billets désirés, puis poursuivre les achats ou finaliser la commande.</br>
                                        Un récapitulatif de commande s’affiche avant la validation de l’achat.</br>
                                        Si la commande correspond, valider. Si la commande ne convient pas, retourner à la sélection de billets</br>
                                        Indiquer ses coordonnées, accepter les conditions générales de vente et cliquer sur "paiement".</br>
                                        Régler la commande par carte bancaire en s’identifiant, le cas échéant, selon la norme 3D-Secure par la saisie du code transmis par sa banque.</br>
                                    </p>
                                    <p class="card-text">
                                        La page "Votre panier" permet de vérifier le contenu de la commande en cours. Tant que le paiement n’a pas été enregistré, le contenu de la commande peut être modifié. 
                                    </p>
                                    <p class="card-text">
                                        Si le paiement est accepté par le module de paiement Stripe, la confirmation de commande s’affiche. L’acheteur reçoit un courriel de confirmation de commande et un courriel de justificatif de paiement. 
                                    </p>
                                    <p class="card-text">
                                        A partir du courriel de confirmation, l’acheteur possède en PDF son (ses) billet(s) puis le(s) imprime ou pas. 
                                    </p>
                                    <p class="card-text">
                                        La Billetterie se réserve le droit de refuser toute commande d'un client qui n’observerait pas ses conditions générales de vente.
                                    </p>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">6 - Tarifs</div>
                            <div class="card-body">
                                <p class="card-text">
                                    Les tarifs applicables sont ceux en vigueur au moment de la commande.
                                </p>
                                    <p class="card-text">
                                        Les tarifs et les cas d’exonération sont consultables sur le site de vente en ligne du musée.
                                    </p>
                                    <p class="card-text">
                                        Le musée se réserve le droit de modifier les prix à tout moment.  
                                    </p>
                                    <p class="card-text">
                                        Le visiteur susceptible de bénéficier d'une exonération devra présenter aux contrôles des titres d’accès aux prestations, le justificatif afférent en cours de validité, nominatif et avec photographie. En cas de non présentation ou de non-conformité du justificatif, l’accès à la prestation sera refusé.  
                                    </p>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">7 - Modalités de paiement</div>
                            <div class="card-body">
                                <p class="card-text">
                                    Le paiement des billets par le client s'effectue en ligne. Les cartes de paiement acceptées sur le site «www.labilletterie.fr» sont : Carte Bleue, Visa, Mastercard, E-carte bleue ainsi que différents modes acceptés par Stripe. 
                                </p>
                                    <p class="card-text">
                                        Le paiement est validé selon la Norme 3D-secure et après acceptation de la transaction par Stripe en charge du contrôle du seuil d’autorisation d’achat de la carte de paiement et de la vérification de la liste des cartes de paiement volées ou perdues. En cas de refus, la commande est annulée. 
                                    </p>
                                    <p class="card-text">
                                        Dès l’acceptation du paiement, l’acheteur reçoit deux courriels, l’un récapitulant sa commande, l’autre constituant le ticket CB client (à conserver et à produire en cas de contestation)   
                                    </p>
                                    <p class="card-text">
                                        Conformément à la réglementation bancaire en vigueur, l’archivage des données bancaires est de quinze (15) mois à compter de la date de transaction. A la suite de ce délai, les données sont détruites.  
                                    </p>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">8 - Sécurisation des paiements</div>
                            <div class="card-body">
                                <p class="card-text">
                                    Le site de paiement du musée utilise la plate de forme d'encaissement STRIPE qui répond à la norme 3D-secure. 
                                </p>
                                    <p class="card-text">
                                        3D-Secure est un protocole de sécurité proposé par VISA, MasterCard, le GIE Cartes Bancaires afin d'augmenter le niveau de sécurité des paiements à distance, par l'ajout d'une étape d'authentification assurée par la banque du porteur.
                                    </p>
                        </div>

                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">9 - Traitement des données personnelles</div>
                            <div class="card-body">
                                <p class="card-text">
                                    Seules sont demandées à l’acheteur les informations et données nécessaires à la gestion de sa commande, à la finalisation de sa transaction, à son information et à ses relations avec la billetterie.
                                </p>
                                    <p class="card-text">
                                        Le traitement automatisé des informations concernant les acheteurs a fait l’objet d’une déclaration à la CNIL par la Billetterie. 
                                    </p>
                                    <p class="card-text">
                                        En application des articles 38, 39 et 40 de la loi n° 78-17 du 6 janvier 1978 modifiée en 2004 et relative à l’informatique, aux fichiers et aux libertés, l’acheteur dispose d’un droit d’accès, de rectification, de modification et d’opposition aux données qui le concernent ou qui concernent les personnes décédées dont il est l’ayant cause. Si l’acheteur souhaite exercer ce droit, il peut s’adresser à la Billetterie du musée par courrier à l'adresse ci-après : musée fictif, DRE « Le musée », 75058, Paris cedex 01. 
                                    </p>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">10 - Cookies</div>
                            <div class="card-body">
                                <p class="card-text">
                                    Le site La Billetterie du musée utilise des cookies :</br>
                                       « de session », nécessaires à la commande en ligne et détruits dès retrait du site ;</br>
                                       L’utilisation des cookies peut être désactivée par la sélection par l’acheteur des paramètres appropriés de son navigateur Internet. Une telle désactivation peut empêcher l’utilisation de certaines fonctionnalités du site de vente en ligne de billetterie du musée. En achetant en ligne, l’acheteur consent donc expressément au traitement de ses données nominatives dans les conditions et pour les finalités décrites ci-dessus.
                                </p>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">11 - Traitement des demandes de remboursement</div>
                            <div class="card-body">
                                <p class="card-text">
                                    La vente de billets d’entrée pour un musée ou de prestations liées à celui-ci est assimilée à une vente de services de loisirs et, conformément à l’article L 121-21-8-12° du Code de la consommation, n’ouvre aucun droit au délai de rétractation. 
                                </p>
                                    <p class="card-text">
                                        Les billets sont incessibles, non échangeables et ne peuvent être revendus.
                                    </p>
                                    <p class="card-text">
                                        En cas d’erreur de bonne foi d’un achat de billet pour un visiteur bénéficiant d’une exonération un droit à remboursement est ouvert. 
                                    </p>
                                    <p class="card-text">
                                        Les demandes doivent être adressées à assistance-billetterie@museefictif.fr ou par courrier adressé à : Musée fictif Billetterie-75058 Paris cedex 01, et s’accompagner du numéro de la commande correspondante et, pour les remboursements, des coordonnées bancaires (Relevé d’Identité Bancaire).  
                                    </p>
                                    <p class="card-text">
                                        En cas d’annulation ou de modification de la prestation correspondante par le musée ou d'erreur de traitement de la demande, un droit à remboursement est ouvert après l’heure d’exécution de la prestation. 
                                    </p>
                                    <p class="card-text">
                                        L’acheteur doit en faire la demande dans un délai de trois (3) mois à compter de la date d’annulation ou de modification de la prestation, sur présentation du billet non invalidé et de ses coordonnées bancaires (Relevé d’Identité Bancaire), à l’exclusion de tout autre dédommagement ou indemnité quelconque.
                                    </p>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">12 - Contestation d’un débit bancaire</div>
                            <div class="card-body">
                                <p class="card-text">
                                    En cas de contestation en raison du vol ou de la perte de la carte de paiement, l’acheteur doit faire immédiatement opposition en appelant le numéro indiqué par l’établissement bancaire émetteur de la carte de paiement. En cas de vol, il doit faire un dépôt de plainte auprès des autorités compétentes. 
                                </p>
                                    <p class="card-text">
                                        En cas de contestation en raison d’anomalies constatées par l’acheteur sur son relevé de compte, alors qu‘il est toujours en possession de sa carte de paiement, l’acheteur doit déposer une réclamation auprès de l’établissement bancaire émetteur de la carte de paiement, dès que possible et dans les délais fixés par la loi, de treize (13) mois à compter de la date de débit sur l’opération contestée. La réclamation est transmise via le réseau bancaire au musée. Dans le cas d’une réclamation justifiée, l’ordre est donné au teneur de compte de la Billetterie d’effectuer le remboursement par un crédit sur le compte bancaire de l’acheteur.  
                                    </p>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">13 - Responsabilité</div>
                            <div class="card-body">
                                <p class="card-text">
                                    Ni la Billetterie, ni l’acheteur ne sauraient être tenus responsables de toute inexécution qui aurait pour origine un cas de force majeure. Sont notamment considérés comme des cas de force majeure : les guerres, les émeutes, les insurrections, les restrictions gouvernementales ou légales, les incendies, les tremblements de terre, les tempêtes et inondations. 
                                </p>
                                    <p class="card-text">
                                        Sauf dysfonctionnement du site «www.labilletterie.fr » qui lui serait imputable, le musée ne pourra être tenu responsable des anomalies pouvant survenir en cours de commande, de traitement, de téléchargement ou d'impression du billet, soit du fait de l’acheteur, soit du fait imprévisible et insurmontable d'un tiers étranger à la prestation, soit du fait de pannes d'ordinateur, de serveur, le blocage des télécommunications y compris des réseaux et notamment d'Internet
                                    </p>
                                    <p class="card-text">
                                        Le musée ne pourrait être tenu responsable de l'usage des billets achetés, l’acheteur étant seul responsable de leur utilisation par lui-même ou par un tiers. 
                                    </p>
                            </div>
                        </div>

                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">14 - Droit applicable - règlement des litiges</div>
                            <div class="card-body">
                                <p class="card-text">
                                    Les présentes conditions générales de vente sont régies par la loi française.
                                </p>
                                    <p class="card-text">
                                        En cas de litige, les tribunaux de Paris sont seuls compétents, après épuisement des voies de recours amiables. 
                                    </p>
                            </div>
                        </div>
                        </div>
        </div>
    </body>
{% endblock %}